h1 {
    text-align: center;
    color: red;
    font-size: 60px;
    background-image: url("https://t4.ftcdn.net/jpg/01/25/48/13/500_F_125481306_x5pwZ5sEZQnGQ9Nm6YBjPhXELrOpFFx3.jpg");
    width: 100%;;
}